@charset "utf-8";
.search-box {
  height: 60px;
  line-height: 20px;
  padding: 10px 30px;

}
.search-box input {
  padding: 7px 15px;
}
.slidingDiv .search-box a {
  top: 16px;
}
.slidingDiv{margin-top:10px;}
@media only screen and (max-width:1366px) {
.banner h1{padding-top:3.5%;}
.carousel-caption,.login-box{padding-top:4%;}
    
   
 }
 
 @media only screen and (max-width:1170px) {
    
    .inner-wrapper{width:100%;}
    .quote-left {
  width: 85%; padding-right:10px;
}
.quote-right.blue-btn {
  width: 14%;
}
    
 }
    @media only screen and (max-width:1160px) {

.carousel-caption,.login-box {
  padding-top: 3%;
}
.login-reg-box{padding:25px 41px 20px;}
.slider .carousel-control{width:40px; height:40px; line-height:40px; font-size:20px; background:rgba(17, 125, 194, 1);}
     
        
    }
    
  
@media only screen and (max-width:1024px) {
    .heading {
  margin-bottom: 20px;
}
.text-text{width:70%;}

.banner-img{overflow:hidden; }
.banner-img img{max-width:none;}
.banner h1 {
  padding-top:0; line-height:5.5;
}
  
  #blog-page .item {
  width: 30%;
}
}
@media only screen and (max-width:990px) {
  
    
   
}
@media only screen and (max-width:989px) {
    .carousel-caption{position:static; background:#000; padding:2% 0;}
    .login-box{position:static; background:#000; padding:0 0 20px; }
.slider .carousel-control {
  margin-top: -52px;
  top: 50%;
}
    .login-reg-box{background:#fff; margin-left:0;}
    .slider .item {
  background: none repeat scroll 0 0 #000000;
}
.slider .item img{opacity:.5;}
.menuu .navbar-default .navbar-nav > li {
  padding: 0 18px;
}
.search{padding-left:0;}
h2{font-size:20px;}
 h1{font-size:20px;}
 .top-footer h4{font-size:14px}
 .slider-left-box{width:100%; float:none; padding:10px 15px 0;}
 .slider-right-box{width:100%; float:none;}
 #blog-page .item{width:29%;}


    }
@media only screen and (max-width:800px) {

}
@media only screen and (max-width:768px) {
    .slider-left-box p{line-height:18px; font-size:12px;}
    .register-box {
 
  padding: 20px 5px;
}

    


}
@media only screen and (max-width:767px) {
  
    .right-head{position:absolute; top:25px; right:0; width:100%; z-index:999;}
    .bot-header {position:relative;}
    .search{vertical-align:top;}
    .menuu{float:none; text-align:center;}
    .menuu .navbar-default{width:100%;}
    .menuu .navbar-default .navbar-nav > li{display:block; width:100%; text-align:center; }
    .menuu .navbar-default .navbar-nav > li a{display:block; padding:7px 0;}
    .menuu .navbar-collapse{background:#fff; margin:0 -15px;}
    .menuu .navbar-nav{margin:0;}
    .navbar-default .navbar-toggle{border-color:#117dc2; margin-right:30px;}
    .navbar-default .navbar-toggle .icon-bar{background:#117dc2;}
    .navbar-default .navbar-toggle:hover{background:#117dc2; border-color:#117dc2;}
     .navbar-default .navbar-toggle:hover .icon-bar{background:#fff;}
     .search {
  position: absolute;
  right: 0;
  top: 14px;
  vertical-align: top;
}
.slider .carousel-control{top:50%;}
.logo a {
  display: block;
  position: relative;
  z-index: 999999;
}
.slider-left-box{padding:0 15px;}
.left-img{padding-right:15px;}
.right-section{padding-left:15px; padding-top:10px;}
h4, .h4{font-size:16px;}
p{font-size:12px;}
.second-section {
  padding: 10px 0;
}
.blog-image img{width:100%;}
.blog-section{padding:20px 0; }
    .quote-left {
  width:100%; padding-right:0px;
}
.quote-right.blue-btn {
  width: 100%; text-align:center;
}
.quote-right.blue-btn .btn{width:auto; display:inline-block;}
.quote h2{font-size:20px;}
.quote{padding:0px 0 20px;}
.footer-content .col-md-3.col-sm-3 {
  float: left;
  width: 50%;
}
.register-box .blue-btn .btn{width:100%; }
.register-box .blue-btn{padding:0 15px;}
.register-box .form-group{margin-bottom:20px;}
.register-box .form-group label{margin-bottom:10px;}
.get-left img, .get-right img{display:none;}
.gallery-1 {
  float: left;
  width: 50%;
}
#blog-page .item{width:43%;}
.contact-heading h2{font-size:22px;}
}




@media only screen and (max-width:640px) {
  
  .top-left-header.pull-left,.top-right-header.pull-right{float:none; width:100%; text-align:center;}
  .top-right-header.pull-right{padding-top:10px;}
  .top-right-header li{padding:0 8px;}
  .logo a {
  width: 45%;
}
h1{font-size:16px;}
p{font-size:12px; line-height:18px;}
h4, .h4{font-size:14px;}
.owl-controls{margin-top:20px;}
.testimonial{background-size:cover;}
.test-img{width:50px;}

.testimonial .owl-prev, .testimonial .owl-next{height:35px; width:35px; line-height:35px; }
.quote h2{font-size:16px;}
.contact-info{padding-bottom:20px;}
}



@media only screen and (max-width:480px) {
    .top-left-header li{width:49%; padding:5px 0; margin:0; border:0; display:inline-block;}
    .right-head{top:15px;}
    .slider .carousel-control {
  top: 18%; margin:0;
}
.text-text {
  padding-left: 13px;
  padding-right: 15px;
  width: 70%;
}
.quote h2{font-size:14px;}
.footer-content .col-md-3.col-sm-3 {
  float: left;
  width: 100%;
}
.gallery-1 {
  float: none;
  width: 100%;
}
#blog-page{padding:0 10px;}
#blog-page .item{width:95%; margin:0 auto 15px;}
.contact-heading h2{font-size:16px;}
.contact-heading h5,.contact-text{font-size:14px;}
.contact-top{padding:20px 0;}
.conatct-form .blue-btn .btn,.half-width{width:100%;}
}


@media only screen and (max-width:360px) {
    
    h1{font-size:16px;}
p{font-size:10px; line-height:15px;}
.contact-heading h2{font-size:14px;}
.contact-heading h5{font-size:12px;}





}
@media only screen and (max-width:320px) {
 

}